.text-container{
    margin-top: 90px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  
    
  .hi{
    font-family: "Inter", sans-serif;
    align-items: center;
    font-size: 1.875rem;
    margin-top: 1.25rem;
    text-align: center;
    line-height: 3.125rem;
  }
  
  .izu{
    
  font-family: 'Raleway', sans-serif;
    font-size: 3.125rem;
    font-weight: 800;
    text-align: center;
    line-height: 3.125rem;
  
    color: #e1e1e103;
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
        }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
    }
  
  
.regular-text{
  margin: 1.875rem;
  font-family:'Raleway', sans-serif;
  align-content: center;
  font-size: 2rem;
  font-weight: normal; 
}

    /* .tech-logo-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25rem;
      width:12.5rem;
      overflow: none;
    }

    
    .tech-logo{
    display: inline-block;
    width: 6.25rem;
    height: 6.25rem;
    padding: 20px;
    }

    .mongo, .node{
      width: 12.5rem;
      } */


.marquee-container{
overflow: hidden;
max-width:100%;

}

.marquee{
  letter-spacing: 4px;


  display: inline-block;
  white-space: nowrap;
  scroll-behavior: smooth;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0%{
    transform: translateX(100%)
  }
  100%{
    transform: translateX(-100%);
  }
}


  /* .main::before {
    position: absolute;
    content: "";
    left: 0%;
    top: 30%;
    width: 28.125rem;
    height: 28.125rem;
    background: #1c1b1b;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  } */
  
  
  
  .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.625rem;
    display: flex;
  }
  
  .contact{
    padding-right:1.25rem
  }