.text-container{
    margin-top: 90px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  
    
.hi{
  letter-spacing: 2.5px;
  font-family: "Raleway";
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
  /* line-height: 3.125rem; */
}

.izu{
  
  font-family: 'Raleway', sans-serif;
  width: clamp(90%, 95%, 100%);
  font-size: clamp(2rem, 3.125rem, 100%);
  font-weight: 800;
  text-align: center;
  line-height: 3.125rem;
  color: transparent;
  background-image: url("/src/images/green-pic.jpg");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
      }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
  }

.subtitle{
  letter-spacing: 2.5px;
  font-family: "Raleway";
  margin-top: 1rem;
}

.main-text{
  font-family:'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.about-container{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;;
}

.about{
  align-self: center;
  width:600px;

}

.about-heading{
  width:min-content;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
  border: 1px solid #27AE60;
  border-radius: 7px;
  letter-spacing: 1.5px;
  margin-left: 10px;
}

.about-text{
/* letter-spacing: 1px; */
line-height: 30px;
font-family: "Raleway";
padding: 5px 15px 15px 15px;
text-align: justify;
}

.skillset-container{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  padding-top: 30px;
}
.skillset{
  max-width: 100vw;
}

.skillset-heading{
width:min-content;
padding: 10px;
font-family: "Inter", sans-serif;
font-size: 1.1em;
border: 1px solid #27AE60;
border-radius: 7px;
letter-spacing: 1.5px;
margin-left: 10px;
}

.skill-all{
padding: 5px 10px 5px 20px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.skill-total{
  display: inline-block;
  margin: 30px;
  margin-left: 0;
  max-width: 150px;
}

.skill{
padding-top: 10px;
letter-spacing: 1px;
font-family: "DM Sans", sans-serif;

color: #4F4F4F;
text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.skill-level{
color: #27AE60;
text-align: center;
font-family: "DM Sans";
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
