#Skills {
  background: rgba(160, 207, 255, 0.1);
}

#skills-header-container {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 70px;
}
#skills-header-img {
  width: 50.63%;
  height: auto;
}
#skills-header-text {
  color: #000;
  text-align: center;
  font-family: "Montserrat";
  font-size: 5rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  /* width: 40%; */
  margin-left: 30px;
}

#skill-container {
  /* display: inline-block; */
  margin: 0 10px 0 20px;
  margin-top: -20px;
  padding-bottom: 40px;
  text-align: center;
}
.skill {
  /* color: rgba(0, 128, 255, 0.8); */
  /* color: #ff725e; */
  color: rgba(255, 114, 94, 0.8);
  font-family: "Montserrat";
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 57.143%;
  letter-spacing: -7px;

  display: inline-block;
  padding: 30px 20px;
}
